onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=bcrypt
